In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
final = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')

In [3]:
train.head()

,id,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,...,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2,EC1,EC2,EC3,EC4,EC5,EC6
0,0,323.390782,9.879918,5.875576,5.875576,4.304757,4.304757,2.754513,1.749203,0.000000,...,4.794537,35.527357,0,0,1,1,0,0,0,0
1,1,273.723798,7.259037,4.441467,5.834958,3.285046,4.485235,2.201375,1.289775,45.135471,...,13.825658,44.707310,0,0,0,1,1,0,0,0
2,2,521.643822,10.911303,8.527859,11.050864,6.665291,9.519706,5.824822,1.770579,15.645394,...,17.964475,45.660120,0,0,1,1,0,0,1,0
3,3,567.431166,12.453343,7.089119,12.833709,6.478023,10.978151,7.914542,3.067181,95.639554,...,31.961948,87.509997,0,0,1,1,0,0,0,0
4,4,112.770735,4.414719,2.866236,2.866236,1.875634,1.875634,1.036450,0.727664,17.980451,...,9.589074,33.333333,2,2,1,0,1,1,1,0

In [4]:
train.dtypes

id                     int64
BertzCT              float64
Chi1                 float64
Chi1n                float64
Chi1v                float64
Chi2n                float64
Chi2v                float64
Chi3v                float64
Chi4n                float64
EState_VSA1          float64
EState_VSA2          float64
ExactMolWt           float64
FpDensityMorgan1     float64
FpDensityMorgan2     float64
FpDensityMorgan3     float64
HallKierAlpha        float64
HeavyAtomMolWt       float64
Kappa3               float64
MaxAbsEStateIndex    float64
MinEStateIndex       float64
NumHeteroatoms         int64
PEOE_VSA10           float64
PEOE_VSA14           float64
PEOE_VSA6            float64
PEOE_VSA7            float64
PEOE_VSA8            float64
SMR_VSA10            float64
SMR_VSA5             float64
SlogP_VSA3           float64
VSA_EState9          float64
fr_COO                 int64
fr_COO2                int64
EC1                    int64
EC2                    int64
EC3                    int64
EC4                    int64
EC5                    int64
EC6                    int64
dtype: object

In [5]:
final.head()

,id,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,...,PEOE_VSA14,PEOE_VSA6,PEOE_VSA7,PEOE_VSA8,SMR_VSA10,SMR_VSA5,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2
0,14838,344.632371,7.283603,4.473966,5.834958,3.412257,4.651530,2.096558,1.116433,49.458581,...,13.512441,0.000000,0.000000,0.000000,26.809272,24.539800,4.794537,47.304082,1,1
1,14839,1432.410201,10.663869,7.079026,8.065215,5.297097,5.297097,3.924155,2.569694,0.000000,...,0.000000,34.947374,98.323987,9.606882,0.000000,53.378235,0.000000,43.166667,0,0
2,14840,83.352608,3.931852,1.774215,1.774215,1.073446,1.073446,0.467830,0.170838,5.969305,...,5.969305,0.000000,0.000000,6.420822,11.752550,13.344559,9.589074,24.666667,1,1
3,14841,150.255712,5.912790,3.548812,3.548812,2.595128,2.595128,1.642813,0.694113,0.000000,...,59.935299,0.000000,0.000000,0.000000,17.744066,32.290168,4.794537,26.778866,0,0
4,14842,1817.276351,24.910940,15.540529,20.047314,12.535886,17.730988,11.979618,4.431173,84.554972,...,23.468091,25.609359,0.000000,37.099000,69.141353,38.704130,50.697492,102.583333,0,0

In [6]:
from sklearn import preprocessing
# from sklearn.model_selection import train_test_split

# split and make our training and testing sets for kfolds
y = train[['EC1', 'EC2']]
X = train.drop(['id','EC1','EC2','EC3','EC4','EC5','EC6'], axis=1)

scaler = preprocessing.StandardScaler()
X_scaled = scaler.fit_transform(X.values)
X = pd.DataFrame(X_scaled, columns=X.columns)

X.head()

,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,EState_VSA2,...,PEOE_VSA14,PEOE_VSA6,PEOE_VSA7,PEOE_VSA8,SMR_VSA10,SMR_VSA5,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2
0,-0.353520,0.109202,0.004577,-0.147099,-0.033989,-0.192585,-0.193312,-0.013007,-0.920423,0.110097,...,2.133838,-0.453655,-0.561197,-0.617069,0.114897,-0.916535,-0.605725,-0.472430,-0.686028,-0.687373
1,-0.445083,-0.275105,-0.304039,-0.154023,-0.305161,-0.155939,-0.354290,-0.259239,0.502170,-0.764415,...,-0.288402,-0.453655,-0.561197,-0.617069,-0.433863,-0.010637,0.012928,-0.157766,-0.686028,-0.687373
2,0.011965,0.260436,0.575340,0.735115,0.593747,0.866309,0.700235,-0.001551,-0.427307,-0.280443,...,-0.062054,-0.453655,2.085343,-0.617069,-0.001182,1.241380,0.296446,-0.125107,-0.686028,-0.687373
3,0.096375,0.486550,0.265728,1.039031,0.543947,1.162446,1.308403,0.693367,2.093972,-0.764415,...,0.102577,-0.453655,-0.561197,-0.026108,-0.001182,0.915782,1.255304,1.309393,-0.686028,-0.687373
4,-0.741804,-0.692175,-0.643024,-0.660092,-0.679966,-0.685819,-0.693316,-0.560504,-0.353710,0.176270,...,-0.169309,-0.103194,0.399998,-0.617069,-0.206208,-0.359426,-0.277288,-0.547635,2.308318,2.306241

In [7]:
from tensorflow import keras
from tensorflow.keras import layers

def get_model(n_input, n_output):
    model = keras.Sequential([
        layers.Dense(32, kernel_initializer='he_uniform', activation='relu', input_shape= [n_input]),
        layers.Dense(n_output, activation='sigmoid'),
    ])

    model.compile(
        optimizer='adam',
        loss='binary_crossentropy',
        metrics=['binary_accuracy'],
    )
    
    return model

In [8]:
from sklearn.model_selection import RepeatedKFold
from sklearn.metrics import accuracy_score

# evaluate a model using repeated k-fold cross-validation
results = list()
n_input, n_output = X.shape[1], y.shape[1]

cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# enumerate folds
for train_ix, test_ix in cv.split(X):
    # prepare data
    X_train, X_test = X.iloc[train_ix], X.iloc[test_ix]
    y_train, y_test = y.iloc[train_ix], y.iloc[test_ix]
    # define model
    model = get_model(n_input, n_output)
    # fit model
    model.fit(X_train, y_train, verbose=0, batch_size=512, epochs=100)
    # make a prediction on the test set
    yhat = model.predict(X_test)
    # round probabilities to class labels
    yhat = yhat.round()
    acc = accuracy_score(y_test, yhat)
    # store result
    print('>%.3f' % acc)
    results.append(acc)

47/47 [==============================] - 0s 1ms/step
>0.557
47/47 [==============================] - 0s 1ms/step
>0.549
47/47 [==============================] - 0s 1ms/step
>0.530
47/47 [==============================] - 0s 1ms/step
>0.542
47/47 [==============================] - 0s 2ms/step
>0.539
47/47 [==============================] - 0s 1ms/step
>0.538
47/47 [==============================] - 0s 1ms/step
>0.539
47/47 [==============================] - 0s 1ms/step
>0.579
47/47 [==============================] - 0s 1ms/step
>0.572
47/47 [==============================] - 0s 1ms/step
>0.544
47/47 [==============================] - 0s 1ms/step
>0.538
47/47 [==============================] - 0s 1ms/step
>0.537
47/47 [==============================] - 0s 1ms/step
>0.565
47/47 [==============================] - 0s 1ms/step
>0.558
47/47 [==============================] - 0s 1ms/step
>0.559
47/47 [==============================] - 0s 1ms/step
>0.559
47/47 [==============================] - 0s 1ms/step
>0.542
47/47 [==============================] - 0s 1ms/step
>0.546
47/47 [==============================] - 0s 1ms/step
>0.558
47/47 [==============================] - 0s 2ms/step
>0.552
47/47 [==============================] - 0s 1ms/step
>0.569
47/47 [==============================] - 0s 2ms/step
>0.569
47/47 [==============================] - 0s 1ms/step
>0.536
47/47 [==============================] - 0s 1ms/step
>0.534
47/47 [==============================] - 0s 1ms/step
>0.532
47/47 [==============================] - 0s 1ms/step
>0.571
47/47 [==============================] - 0s 1ms/step
>0.546
47/47 [==============================] - 0s 1ms/step
>0.549
47/47 [==============================] - 0s 1ms/step
>0.537
47/47 [==============================] - 0s 1ms/step
>0.540

In [9]:
# remove and save ids in final submission data
ids = final['id']
final = final.drop(['id'], axis=1)

scaler = preprocessing.StandardScaler()
final_scaled = scaler.fit_transform(final.values)
final = pd.DataFrame(final_scaled, columns=final.columns)

final.head()

,BertzCT,Chi1,Chi1n,Chi1v,Chi2n,Chi2v,Chi3v,Chi4n,EState_VSA1,EState_VSA2,...,PEOE_VSA14,PEOE_VSA6,PEOE_VSA7,PEOE_VSA8,SMR_VSA10,SMR_VSA5,SlogP_VSA3,VSA_EState9,fr_COO,fr_COO2
0,-0.315597,-0.269963,-0.296047,-0.153268,-0.269699,-0.120755,-0.380151,-0.344922,0.651500,-0.765176,...,-0.139008,-0.460653,-0.560728,-0.629944,0.602187,-0.190273,-0.599562,-0.071855,0.798497,0.795625
1,1.682891,0.230503,0.265216,0.227089,0.230280,0.009941,0.152428,0.446155,-0.920146,1.398132,...,-0.516129,1.344678,4.351855,0.261437,-0.865638,0.669780,-0.925962,-0.211910,-0.679432,-0.681132
2,-0.795626,-0.766207,-0.877711,-0.845803,-0.890099,-0.845144,-0.854779,-0.859653,-0.730459,-0.298798,...,-0.349531,-0.460653,-0.560728,-0.034183,-0.222178,-0.524151,-0.273162,-0.838153,0.798497,0.795625
3,-0.672710,-0.472919,-0.495372,-0.543157,-0.486453,-0.537077,-0.512377,-0.574810,-0.920146,-0.765176,...,1.156617,-0.460653,-0.560728,-0.629944,0.105861,0.040867,-0.599562,-0.766653,-0.679432,-0.681132
4,2.389976,2.339855,2.088255,2.270564,2.150464,2.527202,2.499870,1.459444,1.766759,2.674844,...,0.138847,0.862290,-0.560728,2.812312,2.919896,0.232152,2.525394,1.799401,-0.679432,-0.681132

In [10]:
# do final prediction to generate submission
predictions = (model.predict(final) > 0.5).astype("int32")
predictions

310/310 [==============================] - 0s 1ms/step

array([[0, 1],
       [1, 1],
       [1, 1],
       ...,
       [1, 1],
       [1, 1],
       [0, 1]])

In [11]:
submit = pd.DataFrame(predictions, columns = ['EC1','EC2'])

submit['id'] = ids
submit = submit[['id','EC1','EC2']]

submit.head()

      id  EC1  EC2
0  14838    0    1
1  14839    1    1
2  14840    1    1
3  14841    1    1
4  14842    1    1

In [12]:
print(submit.value_counts('EC1'))
print(submit.value_counts('EC2'))

EC1
1    7669
0    2224
dtype: int64
EC2
1    9874
0      19
dtype: int64

In [13]:
submit.to_csv('submission2.csv', index=False)